@page
@model PRN221_JewelryShop.Pages.Staff.HomeStaffModel
@{
    Layout = "_LayoutStaff";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="~/css/HomeStaff.css">
</head>
<body>
	<div class="header">
		<h1>Home</h1>
	</div>
	<div class="content">
		<h1>Welcome to Jewelry Shop Management</h1>
	</div>	
</body>
</html>
